<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= type %> Pokemons</title>
  </head>
  <body>
        <%- include('partials/navbar') %>
    <h1 class="type-heading" style="display: inline;"><%= type %> pokemons</h1>
    <a href="/types/<%= type %>/edit">
    <button>Edit</button>
    </a>
    <form action="/types/<%= type %>/delete" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
    </form>
    <% if(pokemons.length === 0) { %>
        <p style="display:flex; justify-content: center; align-items: center ;">No Pokemons Found!</p> 
    <%} else {%>

      <div class="pokemons-grid">
            <% pokemons.forEach(pokemon => { %>
                <%- include('partials/pokemonsCardGrid', { pokemon }) %>
            <% }) %>
       </div>
    <%}%>
  </body>
</html>
