<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= type %> Pokemons</title>
  </head>
  <body>
    <h1 style="display: inline;"><%= type %> pokemons</h1>
    <a href="/types/<%= type %>/edit">
    <button>Edit</button>
    </a>
    <form action="/types/<%= type %>/delete" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
    </form>

    <% if(pokemons.length === 0) { %>
        <p>No Pokemons Found!</p> 
    <%} else {%>
        <ul>
            <% pokemons.forEach(pokemon => { %>
            <li><%= pokemon.name %></li>
            <% }) %>
        </ul>
    <%}%>
  </body>
</html>
